// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'select2';
@import '~@ttskch/select2-bootstrap4-theme/src/layout.scss';

.catalog-table {
    td {
        vertical-align: middle;
    }
}



.form-control-plaintext {
    padding: 0.375rem 0.75rem;
}
.form-control-plaintext.is-invalid {
    color: #e3342f;
}

.signal-chart {
    overflow: hidden;
    img {
        margin-bottom: -75px;
        margin-top: -11px;
        margin-left: -51px;
        margin-right: -18px;
        display: inline-block;
        width: auto;
    }
}

.pre-code {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
}
