.fx_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -20px;
}

.fx_row .fx_col {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.fx_row .fx_col .fx_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    font-family: sans-serif !important;
    line-height: 1.2;
    font-size: 15px !important;
}
.fx_row .fx_col .fx_card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 12px 20px !important;
}
.fx_row .fx_col a.fx_card-body {
    text-align: center;
}
.fx_row .fx_col .fx_card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    font-size: 15px !important;
}
.fx_row .fx_col .fx_card-header b {
    color: #38c172;
}

.fx_row .fx_col .fx_name {
    margin: 0px !important;
    font-weight: bold;
    line-height: 1.2;
    font-size: 15px !important;
}

.fx_row .fx_col .fx_graph {
    overflow: hidden;
    /* margin-top: 15px; */
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.fx_row .fx_col .fx_graph img {
    display: block;
    position: relative;
    margin-top: -5%;
    margin-left: -28.5%;
    margin-bottom: -28.9%;
    width: 137.2%;
    max-width: 137.2%;
}

@media (min-width: 421px){
    .fx_row .fx_col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px){
    .fx_row .fx_col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
